<!DOCTYPE html>
<html>
<head>
	<title>Shopping Cart</title>
	<style>
		table {
			background-color: black;
			bordercolor: black;
			border: 1px solid;
		}

		th, td, tr {
			background-color: white;
			border: 1px solid;
			bordercolor: black;
			text-align: left;
			vertical-align: text-top;
		  }
	</style>
</head>
	{% if user.is_authenticated %}
		<h4>User: {{ user.get_username }} <a href="{% url 'logout'%}?next={{request.path}}">Logout</a></h4>
	{% else %}
		<h4><a href="/accounts/login/">Login</a></h4>
	{% endif %}
	
<body>
<table style="width:100%">
	<tr>
		<th><a href="/">Home</a></th>
		<th><a href="/search">Search</a></th>
		<th><a href="/statistics">Stats</a></th>
		<th><a href="/cart">Cart</a></th>
			{% if user.is_staff %}
		<th><a href="/admin">Admin</a></th>
			{% endif %}

	</tr>
</table>

<h1 name="cartPage">Cart</h1> 

<table style="width:100%">
	<tr>
		<th style="width:70%">Game Name</th>
		<th style="width:4%">Price</th>
		<th style="width:5%">Age Rating</th>
		<th style="width:6%">Primary Genre</th>
		<th style="width:5%">More Details</th>
		<th style="width:5%">Delete</th>
	</tr>

{% for x in games %}
	<tr>
		<td>{{ x.gameID.gameName }}</td>
		<td>£{{ x.gameID.price }}</td>
		<td>{{ x.gameID.ageRating }}</td>
		<td>{{ x.gameID.primaryGenre }}</td>
		<td>
			<form method="POST" action="{% url 'details'%}?next={{request.path}}">
			{% csrf_token %}
			<button class="selectButton" id="Selection" name="Selection" value={{ x.gameID.gameID }} >More Details</button>
			</form>
		</td>
		<td>
			<form method="POST" action="">
			{% csrf_token %}
			<input type="hidden" id="check" name="check" value="delete">
			<button class="selectButton" id="Selection" name="Selection" value={{ x.uniqueid }} >Delete Item</button>
			</form>
		</td>
	</tr>
{% endfor %}

</table>
</body>
</html>
