<!DOCTYPE html>
<html>
<head>
	<title>Purchase Page</title>
	<style>
		table {
			background-color: black;
			bordercolor: black;
			border: 1px solid;
		}
		th, td, tr {
			background-color: white;
			border: 1px solid;
			bordercolor: black;
			text-align: left;
			vertical-align: text-top;
		  }
	</style>
</head>
	{% if user.is_authenticated %}
		<h4>User: {{ user.get_username }} <a href="{% url 'logout'%}?next={{request.path}}">Logout</a></h4>
	{% else %}
		<h4><a href="{% url 'login'%}?next={{request.path}}">Login</a></h4>
	{% endif %}
	
<body>
<table style="width:100%">
	<tr>
		<th><a href="/">Home</a></th>
		<th><a href="/search">Search</a></th>
		<th><a href="/statistics">Stats</a></th>
		<th><a href="/cart">Cart</a></th>
			{% if user.is_staff %}
		<th><a href="/admin">Admin</a></th>
			{% endif %}
	</tr>
</table>

<h4>Please confirm your details before proceeding with the purchase</h4>
<table>
<form method="POST" action="complete/">
	{% csrf_token %}
	<input type="hidden" id="totalPrice" name="totalPrice" value={{ purchasePrice }}>
	<tr>
		<td>Username:</td>
		<td><input type="text" name="Username" value={{user.get_username}} disabled></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><input type="text" name="Email" value={{user.email}} required></td>
	</tr>
	<tr>
		<td>This payment will be</td>
		<td> £{{ purchasePrice }} </td>
	</tr>
	<tr>
		<td>Add Card Type:</td>
		<td><input type="text" name="payment" value="" required></td>
	</tr>
	<tr>
		<td style="background-color: black"></td>
		<td><input type="submit" name="completeTransaction" value="Complete Transaction" /></td>
	</tr>

</form>
</table>

{% if user.is_authenticated %}

{% else %}

{% endif %}

</body>
</html>
