<html>
	<!-- Basic In-Line stylesheet -->
<head>
	<title>Statistics</title>
	<style>
		
		
	</style>
</head>
<body>
	
<h2>Total Apps by Genre</h2>
<canvas id="genreChart"></canvas>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script type= 'text/javascript'>
	var ctx = document.getElementById('genreChart').getContext('2d');
	var chart0 = new Chart(ctx, {
	// The type of chart we want to create
	type: 'pie',
	
	// The data for our dataset
	data: {
		labels: {{genreList|safe}},
		datasets: [{
			backgroundColor: {{genreColourList|safe}},
			borderColor: 'black',
			data: {{ genreCountList }}
		}]
	},
	// Configuration options go here
	options: {
	}
});
</script>


<br>
<h2>Apps by Average Review Score</h2>


<canvas id="reviewScoreChart"></canvas>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script type= 'text/javascript'>
	Chart.Tooltip.positioners.custom = function(elements, eventPosition) {
		var tooltip = this;
    	return {
    	    x: eventPosition.x,
    	    y: eventPosition.y
    	};
	};
	var ctx = document.getElementById('reviewScoreChart').getContext('2d');
	var chart1 = new Chart(ctx, {
	// The type of chart we want to create
	type: 'bar',

	// The data for our dataset
	data: {
		labels: ["5.0","4.5","4.0","3.5","3.0","2.5","2.0","1.5","1.0"],
		datasets: [{
			backgroundColor: 'rgb(255, 99, 132)',
			borderColor: 'black',
			data: {{ dataValues }}
		}]
	},
	// Configuration options go here
	options: {
		tooltips:{
			position : 'custom',
			yAlign: 'center',
			xAlign: 'center',
		},
		legend: {display: false},
		scales: {
			xAxes: [{
				ticks: {beginAtZero: true},
				scaleLabel: {display: true, labelString: 'Average Review Score'},	
			}],
			yAxes: [{
				ticks: {beginAtZero: true},
				scaleLabel: {display: true, labelString: 'Number of Apps'},	
			}]
		},
	}
});
</script>

<h2>Apps by Average Review Score</h2>
<canvas id="pointerChart"><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</canvas>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script type= 'text/javascript'>
	var ctx = document.getElementById('pointerChart').getContext('2d');
	var xyValues = [];
	
	var xValues = {{XcoordinateList|safe}}
	var yValues = {{YcoordinateList|safe}}

	for (let i = 0; i < {{lLength}}; i++) {
		//this if statement is in place to remove the extreme outliers in the data
		if(yValues[i]<40 && xValues[i]<500000){
  		xyValues.push({x:xValues[i], y:yValues[i]})
	}}
	var chart2 = new Chart(ctx, {
	// The type of chart we want to create
	type: 'scatter',

	// The data for our dataset
	data: {
	labels: {{scatterLabels|safe}},
    datasets: [{
      pointRadius: 2,
      pointBackgroundColor: "rgba(0,0,255,1)",
      data: xyValues
    }]
  },
	// Configuration options go here
	options: {
		legend: {display: false},
		scales: {
			xAxes: [{
				ticks: {beginAtZero: true},
				scaleLabel: {display: true, labelString: 'App Price'},	
			}],
			yAxes: [{
				ticks: {beginAtZero: true},
				scaleLabel: {display: true, labelString: 'Number of Ratings'},	
			}]
		},
		tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
					var label = data.labels[tooltipItem.index];
					return label + ': (£' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
            	}
            }
        }
	}
});
</script>

</body>
</html>
